black==23.3.0
datasets
einops
flake8==6.0.0
isort
mypy==1.3.0
numpy
pytest
pytest-cov
rouge-score
sentencepiece
tqdm
torch
torchaudio
transformers==4.34.0
types-regex
types-setuptools
types-tqdm
wandb
